<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.biaji.android.cmwrap" android:versionName="beta 1.0.5" android:versionCode="133">
	<uses-sdk android:minSdkVersion="2" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="Cmwrap" android:label="@string/app_name" android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="Config"></activity>
		<service android:name=".services.WrapService" />

		<receiver android:name=".services.NetworkDetector">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	
</application>


	<uses-permission android:name="android.permission.INTERNET" />

	<instrumentation android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="net.biaji.android.cmwrap" />


	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest> 